html, body {
           min-height: 100%;
         //overflow: hidden;
}
body {
	background: linear-gradient(to bottom, #e7f2f6 0%,#ffffff 34%,#ffffff 61%,#e7f2f6 99%);
	color: #444468;
}

#header {
	position: absolute;
	width: 100%;
	height: 118px;
	background: #e7f2f6;
	border-bottom: double 3px lightgray;
	z-index: 100;
}

#container {
	position: relative;
	bottom:0px;
	min-height: 100%;
	margin: 0 auto 0 auto;
	width: 980px;
	padding-top: 163px;
	padding-bottom: 40px;
	box-sizing: border-box;
	border-left: solid 1px lightgray;
	border-right: solid 1px lightgray;
	background: #e9f4fa;
	color: #2f84a1;

}

form {
	position: relative;
	top: 30px;
	overflow: auto;
	width: 950px;
	margin: 0 auto 0 auto;
	padding-bottom: 100px;
}

#helpbtn {
	position: absolute;
	top: 13px;
	right: 25px;
}

#help {
	width: 500px;
	padding: 45px 20px;
	min-height: 20px;
	background: linear-gradient(135deg, #e7f2f6 0%,#fafaff 46%,#f7f7ff 99%); 
	border: solid 1px #4d81a9;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 1000;
	border-radius: 8px;
	box-sizing: border-box;
	visibility: hidden;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.4);
}
#help h1 {
    box-sizing: border-box;
    margin: 0 auto 0 auto;
	font-size: 16px;
	background: #2e7a94;
	color: #efefff;
	width: 100%;
	display: block;
	font-weight: 500;
	min-height: 30px;
	border-radius-top: 5px;
	padding: 6px;
	padding-left: 10px;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	left: 0px;  
	cursor:  -webkit-grab;
   }
   

   

#help img {
	position: absolute;
	top: 4px;
	right: 8px;
	z-index: 50010;
}


iframe {
	width: 978px;
	border:none;
	display: block;
	position: relative;
	z-index: 200;
}

form  h2{
	padding: 8px;
	padding-left: 20px;
	margin: 5px;
	margin-bottom: 25px;
	text-align: left;
	background: #2e7a94;
	border-radius: 8px;
	font-weight: 500;
	color: #efefff;
	display: block;
}



form  h2 img{
	cursor: help;
	}

fieldset {
background: linear-gradient(to bottom, #e7f2f6 0%,#ffffff 34%,#ffffff 61%,#e7f2f6 99%);
background: linear-gradient(135deg, #e7f2f6 0%,#fafaff 46%,#f7f7ff 99%); 
border: solid 1px #4d91a9;
}



input{
	box-sizing: border-box;
	width: 200px;
	padding: 4px;
	font-size: 16px;
	display: inline-block;
	border-radius: 5px;
	color: #444468;
	background: #eee;
	margin-top: 5px;
	margin-bottom: 5px;
}


.fullwidth {
	box-sizing: border-box;
	width: 940px;
	margin: 10px auto 10px auto;
	padding: 8px;
	padding-bottom: 12px;
	overflow: hidden;
	clear: both;
}

.fullwidth div {
	width: 200px;
	display: inline-block;
	padding-left: 25px;
}

label {

	margin: 5px 10px 5px 10px;
	padding: 10px;
	padding-top: 5px;
	width: 170px;
	display: inline-block;
	text-align: right;
	font-size: 16px;
}


select {
        box-sizing: border-box;
	width: 200px;
	padding: 4px;
	font-size: 16px;
	display: inline-block;
	border-radius: 5px;
	color: #444468;
	background: #eee;
	margin-top: 5px;
	margin-bottom: 5px;
        border: inset 2px rgb(238,238,238);


}


.halfwidth {

	height: auto;
	overflow: hidden;
	margin: 10px 8px 10px 5px;
	padding: 5px;
	padding-bottom: 20px;
	width: 450px;
	min-height: 80px;
	float: left;
	display: inline;
	
}

.halfwidth label {
	width: 120px;
	margin: 0px 10px 2px 0px;
	padding: 5px;
	float: left;

}

.halfwidth div {
	margin: 0px 0px 2px 0px;
	padding: 5px;
	width: 280px;
	float: left;
	display: inline-block;
	font-size: 16px;
}


input[type="submit"] {

	position: absolute;
	bottom: 40px;
	right: 70px;
	outline: none;  
}


input[type="reset"]{

	position: absolute;
	bottom: 40px;
	left: 70px;
	outline: none;  
}

 input[type="submit"] ,  input[type="button"] , input[type="reset"] {
	padding: 5px;
	margin: 25px 20px 0px 20px;
	border: solid 1px DarkSlateBlue ;
	border: solid 1px CornflowerBlue ;
	background: linear-gradient(to bottom, #98bede 0%,#deefff 34%,#deefff 62%,#98bede 100%); 
	background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
	width: 120px;
	border-radius: 14px;
	outline: none; 
 }   
 

 
 
input[type="submit"]:active ,  input[type="button"]:active,input[type="reset"]:active {
	background: linear-gradient(to bottom, #98bede 0%,#b5dbff 49%,#98bede 100%); 
	border: solid 1px CornflowerBlue ;
	border: solid 1px DarkSlateBlue ;
	outline: none;  
}

input[type="submit"] , input[type="button"]{

	position: absolute;
	bottom: 40px;
	right: 70px;
	outline: none;  
}

#submit  {
	position: absolute;
	bottom: 40px;
	right: 70px;
	outline: none;  
}
/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------ TABLE STYLES --------------------------------------- */
/* ----------------------------------------------------------------------------------------- */


 	table {
 		width: 100%;
 		border: solid 5px white;
 		margin-top: 40px;
 	}
 	 	
	
 	.fourcol th , .fourcol td {
 		width: 25%;
 		padding: 6px;
 		text-align: center;
 		border: none;
 	}
 
    table.unsortable tr:nth-child(odd) {
   
   	background: linear-gradient(to bottom, #e7f2f6 0%,#ffffff 34%,#ffffff 61%,#e7f2f6 99%);
  	background: #e7f2f6;
   	
   }
   
    table.unsortable tr:nth-child(even) {
   	background: blue;
   	background: linear-gradient(135deg, #e7f2f6 0%,#fafaff 46%,#f7f7ff 99%); 
   	background: #f7f7ff;
   	
   }
   

	table.unsortable tr:first-child {
   	background: white;
    color: #4f8fbf;
   	font-family: "Times New Roman", Times, Serif;
   	font-size: 14px;
   	text-transform: uppercase;
   }
   
   
   
/* ----------------------------------------------------------------------------------------- */
/* ---------------------- ADDITIONAL MENU STYLES / COLOURS ETC ------------------------- */
/* ----------------------------------------------------------------------------------------- */


.dropmenu{
	border: none;
}

.dropmenu li {
	min-height: 100%;
	background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
	border: solid 1px #c8eefb ;
	border-bottom: none;
	

}

.dropmenu li:hover{
	background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);

}

.dropmenu li:active{
	background: linear-gradient(to bottom, #25b2ea 1%,#81cce2 50%,#44c0ed 100%);
	
}

.dropmenu li a {
	color: #444468;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
}

  .clear {
	clear: both;
  }